body {
    background-color: '#000';
}

.viewfinder, .capture, .canvas {
    position: relative;
    /* object-fit: cover; */ /* aspect fill */
    object-fit: contain;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: '#000';
}

.capture {
    position: absolute;
    visibility: collapse;
    background-color: '#000';
}

.flash {
    background-color: #000;
    opacity: 0;
}

@keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}
